// Variables

$primary-color1: #7898ea;
$primary-color2: #4f7ae3;
$primary-color3: #275bdd;
$primary-color4: #0f48d7;
$primary-color5: #09339b;

$secondary-color1: #0AC800;
$secondary-color2: #3EE035;
$secondary-color3: #0DE002;
$secondary-color4: #08A100;
$secondary-color5: #067C00;

$neutral-color1: #C9C9C9;
$neutral-color2: #FFFFFF;
$neutral-color3: #EDEDED;
$neutral-color4: #A2A2A2;
$neutral-color5: #7D7E7D;

$serif: Georgia, "Times New Roman", serif;
$sans-serif: Arial, Helvetica, sans-serif;
